<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传测试</title>
</head>
<body>
    <form enctype="multipart/form-data" action="/upload.do" method="post">
        <input type="file" name="file">
        <input type="file" name="file2">
        <input type="submit" value="提交">
    </form>
    <table>
        <tr>
            <th>文件名</th>
            <th>文件大小</th>
            <th>文件类型</th>
        </tr>
        {{each files as file}}
        <tr>
            <td>{{file.name}}</td>
            <td>{{file.size}}</td>
            <td>{{file.type}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>